* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #fdd835;
    font-size: 16px;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .label-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
  }
  
  label {
    font-weight: bold;
    font-size: 1rem;
    color: #333;
  }
  
  input {
    padding: 10px;
    border: 2px solid #fdd835;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
    width: 100%;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px;
    width: 50%;
  }
  
  button {
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 48%;
  }
  
  button:hover {
    background-color: #8e24aa;
  }
  
  button:active {
    background-color: #4a148c;
  }
  
  #clear-button {
    background-color: #c62828;
  }
  
  #clear-button:hover {
    background-color: #e53935;
  }
  
  #clear-button:active {
    background-color: #b71c1c;
  }
  
  .results-container {
    margin-top: 30px;
  }
  
  #results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    list-style-type: none;
    font-size: 1rem;
    padding-top: 15px;
  }
  
  li {
    background-color: #fdd835;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  